@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-abel: var(--font-abel);
  --font-open-sans: var(--font-open-sans);
  
  --color-dark: #333333;
  --color-medium: #666666;
  --color-primary: #EDF000;
  --color-secondary: #FFF89E;
  --color-footer: #1F1F1F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#__next_devtools,
button[aria-label="Open Next.js DevTools"],
.next-devtools,
.next-debugger {
  display: none !important;
}

@layer utilities {
  .font-abel {
    font-family: var(--font-abel), sans-serif;
  }
  
  .font-open-sans {
    font-family: var(--font-open-sans), sans-serif;
  }
}
